<ng-template #content let-modal>
  <div class="modal-header bg-info">
    <h4 class="modal-title " id="modal-basic-title">Edit JS File <b>{{ recordid }}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="border: none; background: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Compressed JS Data</mat-label>
        <textarea matInput
                  #cdata
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20">{{compressedData}}</textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <div fxFlexFill fxLayoutGap="10px">
      <button mat-raised-button class="btn-success upload-btn" (click)="closeDialog()">
        <mat-icon>save</mat-icon>
      </button>
    <button mat-raised-button class="btn-danger upload-btn" ngbTooltip="save selected file" (click)="updateData(recordid, cdata.value)">
      <mat-icon>close</mat-icon>
    </button>
    </div>
  </div>
</ng-template>
<div>
  <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload accept=".js" />
  <div class="fileStyle">
    <button *ngIf="!fileName; else confirmUpload" mat-raised-button class="btn3D btn-info upload-btn"
      (click)="fileUpload.click()" ngbTooltip="click to select file">
      <mat-icon>attach_file</mat-icon>
    </button>
    <ng-template #confirmUpload>
      <div class="uploadBtns">
        <button mat-raised-button class="btn-warning upload-btn" ngbTooltip="remove seleced file"
          (click)="onRemoveSelecetd()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button class="btn-success upload-btn" ngbTooltip="confirm upload" (click)="onUpladFile()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </ng-template>
    <span [ngStyle]="{'border': (isJSFile) ? '2px solid black' : '2px solid red'}">{{ fileName || "No file uploaded
      yet."}}</span>
  </div>
  <div *ngIf="!isJSFile" style="text-align: center;"><span style="margin: auto;"><b>*only upload .js files
        please</b></span></div>
  <span class="top-wrapper-spacer"></span>
</div>
<div class="dtbl">
  <p-table #usersTbl [value]="jsfiles" styleClass="p-datatable-striped" dataKey="code"
    [autoLayout]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true" [scrollable]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnsDef">
          <div fxLayoutAlign="center center">
            {{col.header}}
            <p-columnFilter type="text" field="{{col.name}}" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jsFile>
      <tr>
        <td *ngFor="let col of columnsDef">
          {{ col.isDate ? (jsFile[col.field] | date:'medium') : jsFile[col.field] }}
        </td>
        <td>
          <div fxFlexFill fxLayoutGap="10px">
            <button mat-raised-button class="btn-warning upload-btn" ngbTooltip="remove selected file"
              (click)="deleteFile(jsFile.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button class="btn-primary upload-btn" ngbTooltip="edit compressed data"
              (click)="openDialog(jsFile.id, content)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button class="btn-default upload-btn" ngbTooltip="download file"
            (click)="downloadFile(jsFile.id)">
            <mat-icon>download</mat-icon>
          </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
