<div>
  <input type="file" class="fileInput" (change)="onFileSelected($event)" #fileUpload accept=".js" />
  <div class="fileStyle">
    <button *ngIf="!fileName; else confirmUpload" mat-raised-button class="btn3D btn-info upload-btn"
      (click)="fileUpload.click()" ngbTooltip="click to select file">
      <mat-icon>attach_file</mat-icon>
    </button>
    <ng-template #confirmUpload>
      <div class="uploadBtns">
        <button mat-raised-button class="btn-warning upload-btn" ngbTooltip="remove seleced file"
          (click)="onRemoveSelecetd()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button class="btn-success upload-btn" ngbTooltip="confirm upload"
          (click)="onUpladFile()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </ng-template>
    <span [ngStyle]="{'border': (isJSFile) ? '2px solid black' : '2px solid red'}">{{ fileName || "No file uploaded yet."}}</span>
  </div>
  <div *ngIf="!isJSFile" style="text-align: center;"><span style="margin: auto;"><b>*only upload .js files
        please</b></span></div>
  <span class="top-wrapper-spacer"></span>
</div>
<div class="dtbl">
  <p-table
    #usersTbl
    [value]="jsfiles"
    styleClass="p-datatable-striped"
    [(selection)]="selectedjsfiles"
    dataKey="code"
    [autoLayout]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [scrollable]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <div class="topSearch">
        <div>
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(usersTbl)"
          ></button>
        </div>
        <div>
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal(usersTbl, $event, 'contains')"
              placeholder="search..."
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columnsDef">
          <div fxLayoutAlign="center center">
          {{col.header}}
          <p-columnFilter type="text" field="col.name" display="menu"></p-columnFilter>
        </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jsFile>
      <tr>
        <td>
          <p-tableCheckbox [value]="jsFile"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columnsDef">
          {{jsFile[col.field]}}
      </td>
      </tr>
    </ng-template>
  </p-table>
</div>
